@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
}

.root {
  width: 100%;
  height: 100%;
}

.navbar-section-text {
  margin-left: 30px;
  margin-bottom: 0px;
  color: rgb(114, 114, 114);
}

.navbar-section-text-others {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(114, 114, 114);
}

.pro-item-content {
  color: rgb(114, 114, 114);
}

.pro-icon {
  color: rgb(114, 114, 114);
  font-size: 18px;
}

.header {
  width: 100%;
  height: 90px;
  line-height: 80px;
  max-height: 88px;
  position: aboslute;
}

.logo-image {
  width: 40px;
  height: 40px;
  margin-left: 24px;
  margin-top: 24px;
}

.logo-text {
  padding-left: 20px;
  width: 150px;
  font-size: 48px;
  margin-top: 10px;
  font-weight: bold;
}

.header-title {
  height: 90px;
  padding-left: 20px;
  font-size: 36px;
  color: black;
}

.main-body {
  width: 100%;
  margin-left: 0px;
}

.header-separator {
  width: 100%;
  align-content: left;
  position: absolute;
  left: 0px;
  top: 77px;
  border: 0px;
  border-top: 1px solid #ccc;
}

.logo-container {
  height: 88px;
  background-color: #F1F2F7;
  display: flex;
}

.user-container {
  justify-content:flex-end;
  display:flex;
  font-family: 'Poppins';
  text-align: right;
  margin-left: -20px;
  max-height: 90px;
  margin-right: 40px;
}

.user-icon {
  font-size: 32px;
  padding-top: 5px;
}

.user-name {
  font-family: "Poppins";
  padding-left: 10px;
  padding-right: 10px;
}

.user-bell {
  font-size: 22px;
  padding-top: 2px;
}

.dashboard {
  display: inline-flex;
}

.dashboard-left {
  
}

.recent-projects {
  margin-left: 20px;
  margin-top: 20px;
  width: 586px;
  height: 341px;


  background: rgba(241, 242, 247, 0.1);
  border: 1px solid rgba(104, 93, 93, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
}

.new-project {
  margin-left: 20px;
  margin-top: 20px;
  width: 586px;
  height: 346px;


  background: rgba(241, 242, 247, 0.1);
  border: 1px solid rgba(104, 93, 93, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.new-project:hover {
  background-color: #F1F2F7;
}

.your-projects {
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
  width: 829px;
  height: 707px;


  background: rgba(241, 242, 247, 0.1);
  border: 1px solid rgba(104, 93, 93, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.page-sub-header {
  font-size: 40px;
  line-height: 40px; 
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Poppins";
}

.projects-body {
  margin-top: -10px;
}

.project-box-header {
  display: flex;
}

.screening-box-header-icon {
  margin-top: 7px;
  font-size: 38px;
  color: #1858A8;
}

.costs-box-header-icon {
  margin-left: -4px;
  margin-top: 2px;
  font-size: 44px;
  color: #1858A8;
}

.lca-box-header-icon {
  margin-left: 2px;
  margin-top: 7px;
  font-size: 38px;
  color: #1858A8;
}

.manageproject-box-header-icon {
  margin-top: 0px;
  font-size: 46px;
  color: #1858A8;
}

.project-box-header-text {
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 14px;
  font-size: 48px;
  line-height: 40px;
  color: #1858A8;
}

.box-header {
  font-size: 32px;
  font-family: 'Poppins';
  height: 61px;
  padding-left: 20px;
  padding-top: 21px;
  margin-top: 0px;
  background-color: #1858A8;
  color: white;
  border-radius: 6px 6px 0px 0px;
}

.small-box-header {
  font-size: 32px;
  font-family: 'Poppins';
  height: 56px;
  max-height:63px;
  margin-top: 0px;
  margin-bottom: 0px;;
  padding-top:5px;
  padding-bottom:0px;
  text-align: center;
  background-color: #1858A8;
  color: white;
  border-radius: 6px 6px 0px 0px;
}

.box-body {
  height: 100%;
  width: 100%;
}

.project-item {
  padding-left: 20px;
  margin-top: 5x;
  line-height: 0px;
  font-family: 'Poppins';
}

.project-item-container {
  display: flex;
  flex-direction: row;
  height: 30px;
  margin-top: 10px;
}

.project-item-text {
  font-size: 18px;
  color: #1F384C;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 15px;
}

.project-item-icon {
  font-size: 18px;
  padding-top: 5px;
  color: #1F384C;
}


.project-item:hover {
  background-color: #F1F2F7;
}

.search-projects {
  margin-left: 20px;
  margin-top: 17px;
  width: 586px;
  height: 32px;
  background: #F6F6FB;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: 'Poppins';
}

.new-project-text {
  margin-left: 32px;
  margin-top: 74px;
  width: 393px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  /* or 128% */

  letter-spacing: 0.5px;

  color: #1F384C;
}

.project-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-left: 20px;
  margin-right:20px;
  margin-top: 5px;
}

.project-details {
  height: 185px;
  overflow-y: scroll;
}

.recent-item {
  display:flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
  line-height: 23px;
  margin-left: 20px;
  margin-right:20px;
}

.recent-item-icon {
  font-size: 16px;
  padding-top: 4px;
  padding-right: 5px;
}

.recent-item:hover {
  background-color: #F1F2F7;
}

.cont-desc-box {
  display:flex;
}

.project-name {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.p-header {
  text-decoration: underline;
  font-family: 'Poppins';
  margin-bottom: 0px;
  font-size: 18px;
}

.p-normal {
  font-family: 'Poppins';
  margin: 0px;
  font-size: 18px;
}

.contributors-box{
  margin-left: 20px;
  width: 300px;
  margin-top: 0px;
  
}

.description-box{
  margin-left: 61px;
}

.project {
  padding-left: 20px;
}

.project-main {
  display: inline-flex;
}

.box-type {
  width: 707px;
  height: 253px;
  display: flex;
}

.new-box:hover {
  background-color:#F1F2F7;
}

.screening-box {
  width: 707px;
  height: 316px;
}
.costs-box {
  width: 707px;
  height: 316px;
  margin-left: 90px;
}
.LCA-box {
  width: 707px;
  height: 316px;
  margin-top: 20px;
}
.manageproject-box {
  width: 707px;
  height: 316px;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.manage-project-box:hover {
  background-color:#F1F2F7;
}

.new-box {
  width: 343px;
  height: 253px;background: rgba(241, 242, 247, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.recent {
  width: 343px;
  height: 253px;
  margin-left: 21px;
  background: rgba(241, 242, 247, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  
}

.recent-costs {
  overflow-y: scroll;
  height: 189px;
}

.recent-lca {
  overflow-y: scroll;
  height: 189px;
}

.recent-screenings {
  overflow-y: scroll;
  height: 189px;
}

.manage-project-box {
  height: 253px;
  background: rgba(241, 242, 247, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.newproject {
  margin-left: 20px;
  
  
}

.contributor-icons-container {
  display:flex;
  justify-content: center;
}

.add-contributor-icon {
  height: 35px;
  width: 35px;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 20px;
}

.remove-contributor-icon {
  height: 35px;
  width: 35px;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 20px;
}

.remove-contributor-icon:hover {
  background-color:#aeafb1;
}

.add-contributor-icon:hover {
  background-color:#aeafb1;
}




.building-icons-container {
  display:flex;
  justify-content: center;
}

.add-building-icon {
  height: 41px;
  width: 41px;
  font-size: 35px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 20px;
}

.remove-building-icon {
  height: 41px;
  width: 41px;
  font-size: 35px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 20px;
}

.remove-building-icon:hover {
  background-color:#aeafb1;
}

.add-building-icon:hover {
  background-color:#aeafb1;
}

.new-project-main {
  display: flex;
  text-align: center;
}

.new-project-left {
  margin-left: 132px;
}

.new-project-right {
  display: flex;
}

.input-project-name {
  background: rgba(255, 255, 255, 0.44);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 15px;
  width: 344px;
  height: 66px;
}

.input-project-description {
  background: rgba(255, 255, 255, 0.44);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 15px;
  width: 340px;
  height: 153px;
}

.new-project-name {

}

.new-project-description {
  margin-top: 20px;
}

.new-project-contributors {
  margin-top: 62px;
}

.new-project-buildings {
  display: block;
  margin-left: 62px;
}

.creation-buttons {
  margin-top: 120px;
  display: block;
}

.project-create-button {
  font-size: 24px;
  font-family: 'Poppins';
  color: white;
  width: 283px;
  height: 66px;
  background: #1858A8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.project-create-button:hover {
  background-color:#082850;
}

.cancel-button {
  margin-top: 20px;
  width: 101px;
  height: 36px;
  background: #F1F2F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.cancel-button:hover {
  background-color: #aeafb1;
}

.search-project-body {
  width: 606px;
  height: 804px;
  margin-top:20px;
}

.search-results-header {
 margin-left: 20px;
}

.costs {
  margin-left: 20px;
  font-family: Poppins;
}

.costs-header {
  justify-content:space-between;
  display: flex;
}

.costs-header-right {
  display:block;
  flex-direction: column;
}

.costs-settings-cog {
  font-size: 26px;
  margin-left: 70px;
  margin-top: 10px;
  color: black;
  border-radius: 20px;
}

.costs-settings-cog:hover {
  background-color: #aeafb1;
}

.building-select {
  margin-top: 15px;
  height: 25px;
  width: 222px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
  border: 1px; 
  
}

.building-details-text {
  margin-top: 7px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-size: 14px;
  
}

.costs-files-container {
  
}



.costs-body {
  margin-left: 0px;
}

.costs-row-one {
  display: flex;
  
}

.costs-files {
  margin-top: 2px;
  margin-bottom: 20px;
  width: 952px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  overflow-y: scroll;
}

.costs-building-details {
  height: 100px;
  width: 222px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-top: 1px;
  margin-right: 20px;
  justify-content: center;
}


.costs-results {
  display: flex;
}

.costs-number-results {
  display: column;
}

.costs-price-m2 {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 222px;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.costs-price-total {
  text-align: center;
  width: 222px;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.costs-dist-building-parts {
  text-align: center;
  margin-right: 20px;
  width: 465px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.costs-dist-materials {
  text-align: center;
  width: 465px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.graph-header {
  margin-top: 5px;
  margin-bottom: 10px;
}

.graph-image {
  width: 425px;
  margin-top: 0px;
}

.price-excl-vat {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.price-excl-vat-text {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.price-incl-vat {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.price-incl-vat-text {
  font-size: 10px;
  margin-top: 5px;
}

.costs-files-header {
  justify-content:space-between;
  display: flex;
  font-size: 26px;
  margin-bottom: 0px;
}

.costs-files-header-text {
  margin-bottom: 0px;
  margin-top: 0px;
}

.upload-file-icon {
  padding-top: 2px;
  padding-left: 3px;
}

.upload-file-icon-container {
  padding-left: 0px;
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.upload-file-icon-container:hover {
  background-color: #aeafb1;
}

.materials-header {
  display:flex;
  justify-content:space-between;
}

.reset-filters-icon {
  margin-top: 15px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.reset-filters-icon:hover {
  background-color: #aeafb1;
}

.add-material-icon {
  height: 35px;
  width: 33px;
  font-size: 30px;
  margin-right: 10px;
  padding-left: 2px;
  margin-top: 5px;
  border-radius: 20px;
}

.add-material-icon:hover {
  background-color:#aeafb1;
}

.remove-material-icon {
  height: 35px;
  width: 33px;
  font-size: 30px;
  margin-right: 10px;
  padding-left: 2px;
  margin-top: 5px;
  border-radius: 20px;
}

.remove-material-icon:hover {
  background-color:#aeafb1;
}

.smaller-reset-filters-icon {
  padding-top: 5px;
  padding-left: 5px;
}

.materials-header-text {
  font-size: 26px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.file-row {
  display: flex;
  justify-content:space-between;
  max-height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.file-row-dots {
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 10px;
}

.file-row-dots:hover {
  background-color: darkgrey;
}

.costs-file {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
}

.file-row:hover {
  background-color: #F1F2F7;
}




.costs-header-name {
  width: 750px;
  all: unset;
  font-size: 40px;
  line-height: 40px; 
  height: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-weight: bold;
}


.ag-theme-alpine .ag-header {
  --ag-header-background-color: #1858A8;
}

.ag-pivot-off .ag-header-cell-label {
  color: white;
}


.screening {
  margin-left: 20px;
}

.screening-body {
  display: flex;
}

.screening-header {
  display: flex;
}

.screening-header-right {
  margin-left: 945px;
}

.screening-models {
  justify-content:space-between;
  display: flex;
  margin-top: 40px;
}

.screening-model {

  width: 343px;
  height: 645px;
  left: 243px;
  top: 182px;

  background: rgba(241, 242, 247, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.screening-model-container {
  font-family: "Poppins";
}

.model-header {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.material-radio-button-group-container {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

.material-radio-button-group {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.material-radio-button {

}

.model-selection-header{ 
  margin-top: 0px;
  margin-bottom: 0px;
}

.material-radio-button input[type="radio"] {
  background-color: #dfdfdf;
  height: 35px;
  width: 53px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="radio"]:checked {
  background-color: rgba(6, 204, 85, 0.5);
}


.radio-button-text {
  text-align: center;
  font-size: 10px;
  max-width: 47px;
  margin-top: -40px;
  margin-left: 8px;
}

.screening-model-picture {
  display: flex;
  justify-content: center;
}

.model-image {
  
  margin-top: 5px;
  max-width: 250px;
  max-height: 212px;
}

.all-models-image {
  height: 310px;
  width: 310px;
  padding-left: 5px;
  padding-top:5px;
}

.screening-model {
  margin-left: 20px;
}

.all-models-picture-container {
  height: 354px;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 6px;
  margin-top: 189px;
  justify-content: center;
}

.all-models-header-text {
  font-family: "Poppins";
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.screening-building-select {
  margin-top: 15px;
  height: 25px;
  width: 320px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
  border: 1px; 
  
}

.screening-building-details-text { 
  margin-top: 9px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-size: 14px;
  margin-right: 0px;
}

.screening-building-details {
  height: 100px;
  width: 320px;;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-top: 1px;

  justify-content: center;
} 